body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    background-color: #666666;
    font-family: 'Bentham', serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

p {
    font-size: 30px;
}

svg {
    transition: opacity 1s ease, visibility 1s ease;
    opacity: 1;
}

.boxHighlight {
    background: border-box;
    background-color: darkgray;
    border-block: solid;
    border-inline: solid;
    border-color: whitesmoke;
    color: yellow;
}

.invisible {
    opacity: 0;
    transition: opacity 1s ease;
}

.visible {
    opacity: 1;
    transition: opacity 1s ease;
}

#title {
    font-family: 'Bentham', serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.axis-label {
    font-family: 'Bentham', serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    fill: whitesmoke;
    text-shadow: 2px 2px 2px black;
    text-anchor: middle;
    font-size: 20px;
}

.bar-label {
    font-family: 'Bentham', serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    fill: whitesmoke;
    text-shadow: 2px 2px 2px black;
    text-anchor: middle;
    transition: opacity 0.25s linear;
    opacity: 0;
    text-anchor: start;
}

.prose {
    position: relative;
    padding: 20px;
    margin: 0px 20vw 0px 20vw;
    border: 2px solid rgba(152,169,179,.38);
    -webkit-box-shadow: 0 0 16px rgba(0,0,0,.5);
    box-shadow: 0 0 16px rgba(0,0,0,.5);
}

.scrollVisibility {
    transition: opacity 1s ease, visibility 1s ease;
    opacity: 1;
}

@media (max-width: 768px) {
    body {
        margin-left: 2%; /* Adjusted left margin for smaller screens */
        margin-right: 2%; /* Adjusted right margin for smaller screens */
        margin-top: 2%; /* Adjusted top margin for smaller screens */
    }

    .prose {
        margin: 0px 3vw; /* Adjusted margin for smaller screens */
    }
}

.intro-prose {
    max-width: 40rem;
    margin: 0 auto;
    padding-top: 1rem
}

.heavy-prose {
    font-weight: 600
}

.heavy-prose-blue-text {
    font-weight: 600;
    color: #2f80ed
}

.heavy-prose-red-text {
    font-weight: 600;
    color: #eb5757
}

.blue-text {
    color: #2f80ed
}

.red-text {
    color: #eb5757
}

.two-job-automatability-value {
    font-family: 'Atlas Grotesk Web';
    font-weight: 600
}

.intro-y-axis {
    font-family: 'Atlas Grotesk Web'
}

    .intro-y-axis .tick text {
        fill: #8e8d87;
        opacity: 0;
        font-size: 14px
    }

    .intro-y-axis .tick line {
        stroke: #8e8d87
    }

    .intro-y-axis path {
        stroke-width: 2;
        stroke: #8e8d87;
        stroke-dasharray: 3,3
    }

.y-axis-label {
    font-family: 'Atlas Grotesk Web';
    font-weight: 500
}

    .y-axis-label .min text {
        fill: #2f80ed;
        font-weight: 600
    }

    .y-axis-label .max text {
        fill: #eb5757;
        font-weight: 600
    }

.skill-axis {
    stroke-dasharray: 3,3;
    stroke-width: .5;
    stroke: #dadada
}

.devs-skill-circle {
    fill: #fff;
    stroke: #3080ee;
    stroke-width: 2
}

.truckers-skill-circle {
    fill: #fff;
    stroke: #eb5756;
    stroke-width: 2
}

.jobTooltip {
    position: absolute;
    background: #fff;
    visibility: hidden;
    font-size: 16px
}

.job-bar {
    height: 20px;
    background: #e0e0e0;
    border-style: solid;
    border-color: #d928bc;
    overflow: visible;
    display: inline-block;
    vertical-align: middle;
    line-height: 50px
}

.job-bar-value {
    display: inline-block;
    margin-bottom: 1px;
    font-weight: 600
}

.bar-container {
    display: block;
    font-size: 16px
}

.job-data-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.tooltip-section-names {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-decoration: underline;
    font-weight: 600;
    font-size: 16px;
    margin-top: 1em;
    margin-bottom: 1em
}

.job-selected-name {
    font-size: 24px
}

.job-compared-name {
    font-weight: 600;
    font-size: 16px;
    overflow: hidden;
    max-width: 30ch
}

.job-compared-number {
    font-style: italic;
    font-size: 14px
}

.jobTooltip {
    padding: 20px;
    pointer-events: none;
    border: 1px solid #000;
    font-family: 'Atlask Grotesk Web',sans-serif
}

.transition-button {
    display: inline-block;
    margin-left: 1em
}

.scene {
    margin-top: 100vh
}

.all-automation {
    margin-top: 0
}

.two-jobs-automation {
    margin-top: 20vh
}

.skill-name {
    font-size: 14px;
    font-family: 'Atlas Grotesk Web'
}

.job-name {
    font-size: 14px;
    font-family: 'Atlas Grotesk Web'
}

.min-similarity {
    font-size: 12px
}

.max-similarity {
    font-size: 12px
}

.similarity-annotation {
    font-family: 'Atlas Grotesk Web';
    font-size: 14px
}

.scatter-y-axis path.domain {
    opacity: .2
}

.scatter-y-axis g.tick text {
    fill: #7a7676;
    font-family: 'Atlas Grotesk Web';
    font-size: 12px
}

.scatter-y-axis g.tick line {
    stroke: #c6c6c6
}

.axis-label {
    font-family: 'Atlas Grotesk Web'
}

.scatter-label-y-axis {
    fill: #000;
    font-family: 'Atlas Grotesk Web';
    text-anchor: middle
}

.chart-title-div {
    font-family: 'Alfa Slab One',cursive;
    font-size: 24px;
    padding-top: 5vh
}

.chart-title-pt1 {
    font-family: 'Alfa Slab One',cursive;
    text-align: center
}

.bisecting-line {
    stroke: #000;
    stroke-dasharray: 3,3
}

.bisecting-line-label {
    font-size: 14px;
    text-anchor: start;
    font-family: 'Atlas Grotesk Web'
}

.bisecting-line-label-background {
    font-size: 14px;
    text-anchor: start;
    font-family: 'Atlas Grotesk Web';
    stroke: #fff;
    stroke-width: 5px
}

.job-number-title {
    font-family: 'Atlas Grotesk Web';
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    text-anchor: middle
}

.job-number-title-background {
    font-family: 'Atlas Grotesk Web';
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    text-anchor: middle;
    stroke: #fff;
    stroke-width: 1px
}

.legend-job-number__text {
    font-size: 14px;
    font-family: 'Atlas Grotesk Web';
    text-anchor: middle
}

.legend-wages__title {
    font-family: 'Atlas Grotesk Web';
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    text-anchor: middle
}

.legend-wages__text-annotation {
    font-size: 14px;
    font-family: 'Atlas Grotesk Web';
    text-anchor: middle
}

.legend-wages__zero {
    font-size: 12px;
    font-family: 'Atlas Grotesk Web';
    text-anchor: end
}

.job-selector__container {
    text-align: center;
    width: 75%;
    position: fixed;
    left: 50%;
    margin-left: -37.5%;
    top: 5px
}

    .job-selector__container a, .job-selector__container div, .job-selector__container input, .job-selector__container select, .job-selector__container span, .job-selector__container textarea {
        font-size: 16px
    }

.job-selector__dropdown -webkit-backface-visibility hidden option {
    width: 75vw
}

.section__scene {
    padding-bottom: 100vh
}

.misc-elements {
    visibility: hidden
}

.img-static {
    visibility: hidden;
    margin: 0 auto
}

.invisible {
    display: none
}

.main-title {
    display: none
}

.secondary-title-stacking {
    display: none
}

.secondary-title-remaining {
    display: none
}

.example-skill-title {
    text-anchor: middle;
    font-family: 'Alfa Slab One',cursive;
    font-size: 24px;
    opacity: 0
}

.conclusion__copy {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

.conclusion-prose {
    max-width: 40rem;
    margin: 0 auto;
    position: relative;
    padding-bottom: 5vh;
    padding: 1rv;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font: 14px sans-serif;
    background: #666666; /* Change background color to black */
    color: white; /* Change text color to white */
    border: 1px solid rgba(152,169,179,.38);
    border-radius: 8px;
    pointer-events: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
